{{displayStat()}}

@if (hovered) {
  @if (character.applied(); as char) {
    <div class="tooltip">
      <ul>
        @if(additionalTooltips.length) {
          @for(a of additionalTooltips; track $index) {
            @if(a[0] && a[0] !== 0) {
              <li><span>{{a[0]}}</span> <b>{{a[1]}}</b></li>
            }
          }
        } @else {
          @for(a of additional; track $index) {
            @if(a[0] && a[0] !== 0) {
              <li><span>{{a[0]}}</span> <b>{{a[1]}}</b></li>
            }
          }
        }
        @if(abilityArray(); as abilityAr) {
          @for(ability of abilityAr; track $index) {
            <li>
              <span>
                {{char.abilityScores[ability] | abilityMod:maxAbilityBonus()||1000000}}
                @if(maxAbilityBonus()){ (max {{maxAbilityBonus()}})}
              </span>
              <b>{{ability}}</b>
            </li>
          }
        }
        @if(stat(); as stat) {
          @if(stat.startsWith('saves.') && char.savingThrowBonus) {
            @for(adjustment of character.adjustmentsMap['savingThrowBonus']; track $index) {
              <li [class]="{'overwritten': adjustment.overwritten}"><span>{{adjustment.value | evaluateValue:char}} @if(adjustment.type){({{adjustment.type}})}</span> <b>{{adjustment.origin}}</b></li>
            }
          }
          @if(stat.startsWith('skills.') && stat.endsWith('.value') && char.skillCheckBonus) {
            @for(adjustment of character.adjustmentsMap['skillCheckBonus']; track $index) {
              <li [class]="{'overwritten': adjustment.overwritten}"><span>{{adjustment.value | evaluateValue:char}} @if(adjustment.type){({{adjustment.type}})}</span> <b>{{adjustment.origin}}</b></li>
            }
          }
          @for(adjustment of character.adjustmentsMap[stat]; track $index) {
            <li [class]="{'overwritten': adjustment.overwritten}"><span>{{adjustment.value | evaluateValue:char}} @if(adjustment.type){({{adjustment.type}})}</span> <b>{{adjustment.origin}}</b></li>
          }
        }
      </ul>
    </div>
  }
}
