{{displayStat()}}

@if (hovered) {
  @if (character.applied(); as char) {
    @if(stat(); as stat) {
      <div class="tooltip">
        <ul>
          @for(additional of additionalTooltips; track $index) {
            <li><span>{{additional[0]}}</span> <b>{{additional[1]}}</b></li>
          }
          @if(ability(); as ability) {
          <li>
            <span>
              {{char.abilityScores[ability] | abilityMod:maxAbilityBonus()||1000000}}
              @if(maxAbilityBonus()){ (max {{maxAbilityBonus()}})}
            </span>
            <b>{{ability}}</b>
          </li>
          }
          @for(adjustment of character.adjustmentsMap[stat]; track $index) {
            <li><span>{{adjustment.value}} @if(adjustment.type){({{adjustment.type}})}</span> <b>{{adjustment.origin}}</b></li>
          }
        </ul>
      </div>
    }
  }
}
