@if(newCharacterMode) {
  <header>Equipment <span style="float: right">{{character.raw() | remainingStartingWealth | purseToString}}</span></header>
} @else {
  <header>
    Equipment
    <div class="wealth">
      <label>Pp: <input type="number" [(ngModel)]="character.raw().wealth.pp" (ngModelChange)="emitInventoryChange('wealth')"/></label>
      <label>Gp: <input type="number" [(ngModel)]="character.raw().wealth.gp" (ngModelChange)="emitInventoryChange('wealth')"/></label>
      <label>Sp: <input type="number" [(ngModel)]="character.raw().wealth.sp" (ngModelChange)="emitInventoryChange('wealth')"/></label>
      <label>Cp: <input type="number" [(ngModel)]="character.raw().wealth.cp" (ngModelChange)="emitInventoryChange('wealth')"/></label>
    </div>
  </header>
}

<div class="inventoryList">
  <h3 class="name">Name</h3>
  <p>quantity</p>
  <p>slot</p>
  <p>equip</p>
  @if(newCharacterMode){ <p>Cost</p> }
</div>
@for(item of character.raw().inventory; track item.name) {
<div class="inventoryList">
  <p class="name">
    <a (click)="removeItem(item)">X</a>
    <span (click)=itemModal.openModal(item)> {{item.name}}</span>
  </p>
  <p>{{item.quantity}}</p>
  <p>{{item.slot}}</p>
  <p>@if(item.slot !== 'slotless'){<input type="checkbox" [(ngModel)]=item.equipped (ngModelChange)="equipItem(item)" />}</p>
  @if(newCharacterMode){ <p>{{item.cost | purseToString}}</p> }
</div>
}
<button (click)="itemModal.openModal()">Add Item</button>

<app-item-modal #itemModal (itemUpdate)="itemUpdate($event)"></app-item-modal>
