.nameInput
  display: block
  outline: none
  border: none
  border-bottom: solid
  font-size: 25px
  margin: 15px 0 5px 0
  width: 100%

.featureList
  span
    padding: 0 5px
    &:hover
      text-decoration: underline
  a
    padding-left: 5px

header
  font-size: 25px
  margin: 15px 0 15px 0
  border-bottom: solid
