<a [routerLink]='".."'>Back</a>

@if(character.raw(); as rawCharacter) {
  @if(character.applied(); as char) {
    <div class="flexy">
      <div class="bio">
        <input class="nameInput" type="text" [(ngModel)]="rawCharacter.name" (ngModelChange)=character.update()/>

        <div>{{char.race.name}}</div>
        <div>{{char.alignment}} {{sizes[char.size]}} {{char.race.subtype}}</div>
        <div class="classlevels">
          @for(class of char.classLevels; track class.name) {
            <div class="class">{{class.level}} <a (click)="jsonModal.openModal('classLevels', char.classLevels)">{{class.name}}</a></div>
          }
        </div>
        <div><b>Init: </b> {{(char.abilityScores.dex | abilityMod) + char.init}} <b>Senses: </b> Perception: {{char.skills.perception | skillValue:char}}, {{char.senses}}</div>
      </div>

      <div class="statistics">
        <header>Statistics</header>

        <div>
          <b>Str</b> <stat stat=abilityScores.str [additionalTooltips]="[[rawCharacter.abilityScores.str, 'str']]"></stat>
          <b>Dex</b> <stat stat=abilityScores.dex [additionalTooltips]="[[rawCharacter.abilityScores.dex, 'dex']]"></stat>
          <b>Con</b> <stat stat=abilityScores.con [additionalTooltips]="[[rawCharacter.abilityScores.con, 'con']]"></stat>
          <b>Int</b> <stat stat=abilityScores.int [additionalTooltips]="[[rawCharacter.abilityScores.int, 'int']]"></stat>
          <b>Wis</b> <stat stat=abilityScores.wis [additionalTooltips]="[[rawCharacter.abilityScores.wis, 'wis']]"></stat>
          <b>Cha</b> <stat stat=abilityScores.cha [additionalTooltips]="[[rawCharacter.abilityScores.cha, 'cha']]"></stat>
        </div>
        <div>
          <b>BAB</b> <stat stat=bab></stat>
          <b>CMB</b> <stat stat=cmb ability=str [additional]="[[char.bab, 'bab']]"></stat>
          <b>CMD</b> <stat stat=cmd ability="str, dex" [additional]="[[char.bab, 'bab']]"></stat>
        </div>

        <div class="featureList">
          <b>Feats</b>
          @for(feat of char.feats; track $index) {
          [ <a (click)="character.removeFeature(rawCharacter.feats, feat)">X</a><span (click)="jsonModal.openModal('feats', feat)">{{feat.name}}</span> ]
          }
          <a (click)="featureModal.openModal('feats')">Add</a>
        </div>
        <div>
          <b>Languages</b>
          @for(language of char.languages; track language) {
          {{language}}
          }
        </div>
        <div>
          <b>SQ</b>
          @for(sq of char.specialQuality; track sq.name) {
          {{sq.name}}
          }
        </div>
      </div>
    </div>

    <div class="conditions">
      <header> Conditions
        <a (click)="featureModal.openModal('conditions', true)" style="float: right">Add</a>
      </header>
      <app-feature-list path='conditions'></app-feature-list>
    </div>

    <div class="flexy">
      <div class="defense">
        <header>Defense</header>

        <div><b>AC: </b><stat stat=ac ability=dex [maxAbilityBonus]=char.maxDexBonus [additionalTooltips]="[['10','base']]"></stat>
        </div>
        <div><b>HP: </b> <input type="number" [(ngModel)]="char.currentHp" (ngModelChange)="character.update({currentHp: char.currentHp})"/> / {{char.hp}}</div>
        <div><b>Temp HP: </b> <input type="number" [(ngModel)]="char.tempHp" (ngModelChange)="character.update({tempHp: char.tempHp})"></div>
        <div>
          <b>Fort </b><stat stat="saves.fort" ability=con ></stat>
          <b>Ref </b><stat stat="saves.ref" ability=dex ></stat>
          <b>Will </b><stat stat="saves.will" ability=wis ></stat>
          {{char.saves.conditional}}
        </div>
        <div>
          <b>Defensive Abilities</b>
          @for(ability of char.defensiveAbilities; track ability.name) {
            {{ability.name}}
          }
        </div>
        <div><b>Immune</b> {{char.immune}}</div>

      </div>

      <div class="offense">
        <header>Offense</header>

        <div>
          <b> Speed </b> <stat stat="speed.land"></stat>ft.
          @if (char.speed.fly) {<b> Fly </b> <stat stat="speed.fly"></stat>ft.}
          @if (char.speed.swim) {<b> Swim </b> <stat stat="speed.swim"></stat>ft.}
        </div>
        <div>
          <b>Melee</b>
          @for(attack of char.melee; track $index) {
            <app-attack [attack]=attack></app-attack>
          }
        </div>
          <b>Ranged</b>
          @for(attack of char.ranged; track $index) {
            <app-attack [attack]=attack></app-attack>
          }
        <div class="specialAttacks">
          <b>Special Attacks</b>
          <app-feature-list path='specialAttack' charType=applied></app-feature-list> </div>
        <div><b>Arcane Spell Failure Chance: </b><stat stat="arcaneSpellFailureChance"></stat></div>
        <div><b>Spelllike Abilities</b></div>
        <div><b>Spells</b></div>
      </div>
    </div>

    <app-inventory-list [newCharacterMode]="false" (inventoryChange)=character.update($event)></app-inventory-list>

    <app-skill-list (skillChange)="character.update($event)"></app-skill-list>

    <app-add-feature-modal #featureModal (featureCreated)="character.consumeFeature($event)"></app-add-feature-modal>

    <app-json-modal #jsonModal (updated)="character.update($event)"></app-json-modal>

    <header>JSON preview</header>
    <pre>
    {{char | json}}
    </pre>
  }
}
