<a [routerLink]='".."'>Back</a>

@if(character(); as rawCharacter) {
  @if(appliedCharacter(); as char) {
    <input class="nameInput" type="text" [(ngModel)]="rawCharacter.name" (ngModelChange)=updateCharacter()/>

    <div>{{char.race.name}}</div>
    <div>{{char.alignment}} {{sizes[char.size]}} {{char.race.subtype}}</div>
    <div><b>Init: </b> {{(char.abilityScores.dex | abilityMod) + char.init}} <b>Senses: </b> Perception: {{char.skills.perception | skillValue:char}}, {{char.senses}}</div>


    <header> Conditions
      <a (click)="featureModal.openModal('conditions')" style="float: right">Add</a>
    </header>
    <div class="featureList">
      @for(condition of rawCharacter.conditions; track $index) {
        [<a (click)="removeFeature(rawCharacter.conditions, condition)">X</a> <span (click)="featureModal.openModal(condition)">{{condition.name}}</span>]
      }
    </div>

    <header>Defense</header>

    <div><b>AC</b> {{char.ac + (char.abilityScores.dex | abilityMod)}}</div>
    <div><b>HP: </b> <input type="number" [(ngModel)]="char.currentHp" (ngModelChange)="updateCharacter({currentHp: char.currentHp})"/> / {{char.hp}}</div>
    <div><b>Temp HP: </b> <input type="number" [(ngModel)]="char.tempHp" (ngModelChange)="updateCharacter({tempHp: char.tempHp})"></div>
    <div>
      <b>Fort</b> {{char.saves.fort + (char.abilityScores.con | abilityMod)}}
      <b>Ref</b> {{char.saves.ref + (char.abilityScores.dex | abilityMod)}}
      <b>Will</b> {{char.saves.will + (char.abilityScores.wis | abilityMod)}}
      {{char.saves.conditional}}
    </div>
    <div>
      <b>Defensive Abilities</b>
      @for(ability of char.defensiveAbilities; track ability.name) {
        {{ability.name}}
      }
    </div>
    <div><b>Immune</b> {{char.immune}}</div>

    <header>Offense</header>

    <div>
      <b>Speed</b> {{char.speed.land}}ft.
      @if (char.speed.fly) {<b>Fly </b> {{char.speed.fly}}ft.}
      @if (char.speed.swim) {<b>Swim </b> {{char.speed.swim}}ft.}
    </div>
    <div><b>Melee</b></div>
    <div><b>Ranged</b></div>
    <div><b>Special Attacks</b></div>
    <div><b>Spelllike Abilities</b></div>
    <div><b>Spells</b></div>

    <header>Statistics</header>

    <div>
      <b>Str</b> {{char.abilityScores.str}}
      <b>Dex</b> {{char.abilityScores.dex}}
      <b>Con</b> {{char.abilityScores.con}}
      <b>Int</b> {{char.abilityScores.int}}
      <b>Wis</b> {{char.abilityScores.wis}}
      <b>Cha</b> {{char.abilityScores.cha}}
    </div>
    <div>
      <b>BAB</b> {{char.bab}};
      <b>CMB</b> {{char.cmb}}
      <b>CMD</b> {{char.cmd}}
    </div>
    <div class="featureList">
      <b>Feats</b>
      @for(feat of char.feats; track $index) {
        [ <a (click)="removeFeature(rawCharacter.feats, feat)">X</a><span (click)="featureModal.openModal(feat)">{{feat.name}}</span> ]
      }
      <a (click)="featureModal.openModal('feats')">Add</a>
    </div>
    <div>
      <b>Languages</b>
      @for(language of char.languages; track language) {
        {{language}}
      }
    </div>
    <div>
      <b>SQ</b>
      @for(sq of char.specialQuality; track sq.name) {
        {{sq.name}}
      }
    </div>

    <app-skill-list [char]="char" (skillChange)="updateCharacter($event)"></app-skill-list>

    <app-inventory-list [char]="rawCharacter" [newCharacterMode]="false" (inventoryChange)=updateCharacter($event)></app-inventory-list>

    <app-add-feature-modal #featureModal (featureCreated)="consumeFeature($event)"></app-add-feature-modal>

    <header>JSON preview</header>
    <pre>
    {{char | json}}
    </pre>
  }
}
